*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:system-ui,Segoe UI;
}

body{
background:#050510;
color:white;
height:100vh;
overflow:auto;
}

/* TOPBAR */

.topbar{
height:60px;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 14px;
background:#0b0b1c;
border-bottom:1px solid rgba(255,255,255,.07);
}

.title{
font-size:18px;
font-weight:600;
}

.logout{
background:#ff2f7a;
border:none;
padding:6px 12px;
border-radius:6px;
color:white;
cursor:pointer;
}

/* SEARCH */

.searchBox{
padding:12px;
}

.searchBox input{
width:100%;
padding:10px;
border-radius:20px;
border:none;
background:#111;
color:white;
font-size:14px;
outline:none;
}

/* SECTION */

.section{
padding:10px 14px;
}

.section h4{
margin-bottom:8px;
font-size:14px;
opacity:.8;
}

/* USER CARD */

.user{
display:flex;
align-items:center;
gap:10px;
padding:10px;
border-radius:10px;
cursor:pointer;
background:#0b0b1c;
margin-bottom:8px;
transition:.2s;
}

.user:hover{
background:#15152a;
}

.avatar{
width:40px;
height:40px;
border-radius:50%;
object-fit:cover;
}

.name{
font-size:14px;
font-weight:500;
}