body{
 margin:0;
 background:black;
 color:#ffd400;
 font-family:sans-serif;
}

.card,.chat{
 width:100vw;
 max-width:420px;
 margin:auto;
 padding:10px;
}

input,button{
 width:100%;
 margin:5px 0;
 padding:10px;
}

.hidden{display:none}

.row{
 display:flex;
 align-items:center;
 gap:5px;
}

.row img{
 width:35px;
 height:35px;
 border-radius:50%;
}
